<div class="wrapper">
  <div class="button-wrapper item1">
    <div class="col-md-2 row inline-text">
      <img src="./assets/images/sidetestdrive.png">
    </div>
    <div class="col-md-10 inline-text">
      <a style="color: white;">BOOK A TESTDRIVE</a>
    </div>
  </div>
  <div class="button-wrapper item2">
      <div class="col-md-2 row inline-text">
        <img src="./assets/images/pricequoteicon.png">
      </div>
      <div class="col-md-10 inline-text">
        <a style="color: white;">PRICE QUOTE</a>
      </div>
    </div>
    <div class="button-wrapper item3">
        <div class="col-md-2 row inline-text">
          <img src="./assets/images/enquiry.png">
        </div>
        <div class="col-md-10 inline-text">
          <a>SALES ENQUIRY</a>
        </div>
      </div>
      </div>